<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Bizimle İletişime Geçin
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Lokasyonlar
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Ara +90 5389601155
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                katmanli_burger@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        Katmanlı Burger
                    </a>
                    <p>
                        Uluslararası kalite standartlarında üretim, hijyen ve hizmetten ödün vermeyen, TAB Gıda güvencesiyle Türkiye genelinde hizmet veren Katmanlı burger®️, Türkiye’deki markalaşma yolculuğunda sayısız başarıya imza atmıştır.
                    </p>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Çalışma Zamanları
                </h4>
                <p>
                    Haftaİçi-HaftaSonu
                </p>
                <p>
                    09:00-23:59
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">FiftyShadesOfErrorList!</a><br><br>
                &copy; <span id="displayYear"></span> Kendini Yazılım Sektöründe Yükselmeyi Amaçlamış Grup Üyeleri Tarafından Geliştirilmiştir</a>
            </p>
        </div>
    </div>
</footer>