@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Hamburger İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Ürün Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Ürün işlemlerini aşağıdan gerçekleştirebilirsiniz.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Kategori Adı</th>
									<th scope="col">Akif/Pasif</th>
									<th scope="col">Güncelle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.Id</td>
										<td>@item.Name</td>
										@if (item.Status == KatmanliBurger_DATA.Enums.Status.Active)
										{
											<td><a href="/Category/Delete/@item.Id" class="btn btn-outline-danger">Pasifleştir</a></td>
										}
										else
										{
											<td><a href="/Category/Delete/@item.Id" class="btn btn-outline-success">Aktifleştir</a></td>
										}
										<td><a href="/Category/Edit/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
									</tr>

								}
							</tbody>
						</table>
						<a href="/Category/CreateByCategory/" class="btn btn-outline-primary">Yeni Kategori Oluştur</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	@if (TempData["exception"] != null)
	{
		<text>
			Swal.fire("@TempData["exception"]");
		</text>
	}
	@if (TempData["hata"] != null)
	{
		<text>
			Swal.fire("@TempData["hata"]");
		</text>
	}
</script>

