@using KatmanliBurger_UI.Helpers;
<section class="about_section layout_padding">
	<div class="container  ">

		<div class="row">
			<div class="col-md-6 ">
				<div class="img-box">
					<img src="~/feane-1.0.0/images/about-img.png" alt="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="detail-box">
					<div class="heading_container">
						<h2>
							Biz Kimiz?

						</h2>
					</div>
					<p>
						@ErrorMessageProvider.GetErrorMessage("Biz_Kimiz");						
					</p>
					<a href="">
						Daha Fazla Oku..
					</a>
				</div>
			</div>
		</div>
	</div>
</section>