@model ParameterListViewModel
<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/feane-1.0.0/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                           @* @Model.ParameterDetails.FirstOrDefault(x=>x.Code=="AboutHeader").Description;*@
                           
                        </h2>
                    </div>
                    <p>
                        Türkiye’deki faaliyetlerine 2023 yılında BA Grubu’na bağlı FiftyShadesOfErrorList! A.Ş. ülkedeki ana geliştirici ve üretici haklarını alarak bünyesine katmasıyla başlayan dünyanın en sevilen markalarından KatmanliBurger®️, kısa sürede tüketicilerin beğenisi ve sadakatini kazanarak restoran sayısını istikrarlı bir şekilde çoğaltmıştır.Ülke genelinde 700’den fazla restoranıyla hizmet vermektedir.
                    </p>
                    <a href="">
                        Daha Fazla Oku..
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>