<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Katmanlı Burger
                                </h1>
                                <p>
                                    Fifty Shades Of Error List! ekibinin çabalarıyla kısa sürede oluşturulan MVC projesinde çok büyük emekler vardır. Emeği geçen herkese teşekkürler.
                                </p>
                                <div class="btn-box">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Katmanlı Burger
                                </h1>
                                <p>
                                    Diyet yapmaktan korkanların kaçmak isteyeceği adres. Burada çok farklı lezzetler(!) tadacaksınız. Ürünlerimiz son derece sağlıklı olup yüksek miktarda kalori içermektedir. Uzun süre maruz kalındığında bağımlılık etkisi yapacaktır.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Katmanlı Burger
                                </h1>
                                <p>
                                    Projede Katmanlı Yapı Mimarisi kullanılmıştır. Clean Code Prensiplerine önem verilmiştir. Kısa zamanda hazırlanan bu projeyi yeterince incelerseniz MVC yapısını tamamen çözekseniz ;)
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>
    </div>

</section>
</div>