@model ParameterDetail
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ürün İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Ürün Güncelle</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label for="Code">Code:</label>
                                <input type="text" class="form-control" asp-for="Code" id="Code">
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description">Açıklama:</label>
                                <input type="text" class="form-control" asp-for="Description" id="Description">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>                       
                        <div class="card-action">
                            <button class="btn btn-primary" type="submit">Ürünü Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


